/.git
/node_modules

.DS_Store
.idea/
.vscode/

/package-lock.json
.eslintcache
*.tsbuildinfo

coverage
lib

.editorconfig
.eslintignore
.gitignore
.husky/pre-commit
.npmrc
.nvmrc
.prettierignore
.projectlintrc
LICENSE
